
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #1fe096;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
  margin-top:50px;
}
h3{
  margin : 20px 0 40px 0 ;
}
h4{
  margin:30px auto 10px auto;
  text-decoration:underline;
}
h5{
  margin:30px auto 20px auto;
    
}
th{
  font-size:20px;
  font-weight:bold;
  text-decoration:underline;
}
#table{
  margin:20px 200px 30px 200px;
}
#imagedesc{
  margin: 20px 250px 20px 250px;
  padding:20px 20px 20px 20px;
  background-color:#c0c0c0;
}
#page{
  padding:20px 20px 20px 20px;
  background-color:#dcdcdc
}
#credit{
  padding:10px 10px 10px 10px;
}
